/*===============================================
hero section
===============================================*/
#hero{
    width: 90%;
    margin: 20px auto 0px;
    padding-top: 75px;
}
.hero-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.hero-right{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 4px 0 0 80px;
    height: 170px;
}
.hero-right .hero-des{
    display: flex;
    flex-direction: column;
}
.hero-des h1{
    color: #0f172a;
    font-size: 48px;
    font-weight: 600;
}
.hero-des p{
    color: #475569;
    font-size: 16px;
    text-align: justify;
}
.hero-menu-list{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.hero-menu-list li{
    padding-right: 16px;
}
.hero-menu-list a{
    padding: 8px 0;
    color: #475569;
    font-size: 13px;
    font-weight: 500;
}
.hero-logo img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/*=====================================
about me section
=======================================*/
#about-me{
    width: 90%;
    margin: 20px auto 0;
    padding: 75px 0px 0px;
}

.about-container{
    display: flex;
    align-items: first baseline;
    justify-content: flex-start;
}
.about-left{
    width: 150px; 
}
.about-left h2{
    width: 150px; 
    font-size: 14px;
    color: #475569;
    font-weight: 500;
}

.about-right{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0px 10px 10px 80px;
    background-color: #fff;
    box-shadow: 2px 0px 1px 0px #ddd;
}
.about-right p{
    font-size: 18px;
    color: #475569;
    text-align: justify;
}

/*=====================================
projects section
=======================================*/
#projects{
    width: 90%;
    margin: 20px auto 0;
    padding: 75px 0px 0px;
}
.projects-container{
    display: flex;
    align-items: first baseline;
    justify-content: flex-start;
}
.projects-left{
   width: 150px;  
}
.projects-left h2{
    width: 150px; 
    font-size: 14px;
    color: #475569;
    font-weight: 500;
}
.projects-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 30px;
    padding: 0px 10px 10px 80px;
    background-color: #fff;
    box-shadow: 2px 0px 1px 0px #ddd;
}
.projects-right .project-css{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.project-css a.name-link{
    font-size: 18px;
    color: #0f172a;
    font-weight: 600;
}
.project-css a.name-link:hover{
    text-decoration: underline;
}
.project-css p.description{
    font-size: 18px;
    color: #475569;
    text-align: justify;
}

.project-css a.github-link, .project-css a.netlify-link{
    color: #00007F;
    font-size: 17px;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.project-css a.netlify-link:hover, .project-css a.github-link:hover{
    text-decoration: underline;
}

/*===========================================
skills section
=============================================*/
#skills{
    width: 90%;
    margin: 20px auto 0;
    padding: 75px 0px 0px;
}
.skills-container{
    display: flex;
    align-items: first baseline;
    justify-content: flex-start;
}
.skills-left{
    width: 150px;
}
.skills-left h2{
    width: 150px; 
    font-size: 14px;
    color: #475569;
    font-weight: 500;
}
.skills-right{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 0px 10px 10px 80px;
    background-color: #fff;
    box-shadow: 2px 0px 1px 0px #ddd;
}
.skill-category{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.skill-category h3.skill-title{
    font-size: 18px;
    color: #0f172a;
    font-weight: 600;
}
.skill-category ul.skill-item{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.skill-category li.item-list{
    display: inline-block;
    font-size: 18px;
    color: #475569;
}

/*=============================================
resume section
===============================================*/
#resume{
    width: 90%;
    margin: 20px auto 0;
    padding: 75px 0px 0px;
}
.resume-container{
    display: flex;
    align-items: first baseline;
    justify-content: flex-start;
}
.resume-left{
    width: 150px;
}
.resume-left h2{
    width: 150px; 
    font-size: 14px;
    color: #475569;
    font-weight: 500;
}
.resume-right{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 10px 10px 10px 80px;
    background-color: #fff;
    box-shadow: 2px 0px 1px 0px #ddd;
}

.resume-right ul.resume-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
ul.resume-item li.item-list{
    display: flex;
    align-items: center;
    gap: 10px;
}

a.resume-link{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 35px;
    width: 180px;
    border-radius: 5px;
    color: #fff !important;
    font-size: 15px !important;
    transition: all 0.4s;
    text-decoration: none;
}
a.view-resume{
    background: #007bff;
}
a.view-resume:hover{
    background: #0056b3;
}
a.download-resume{
    background-color: #28a745;
}
a.download-resume:hover{
    background: #1e7e34;
}

/*===========================================
contacts section
=============================================*/
#contacts{
    width: 90%;
    margin: 20px auto 0;
    padding: 75px 0px 0px;
}
.contacts-container{
    display: flex;
    align-items: first baseline;
    justify-content: flex-start;
}
.contacts-left{
    width: 150px;
}
.contacts-left h2{
    width: 150px; 
    font-size: 14px;
    color: #475569;
    font-weight: 500;
}
.contacts-right{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 0px 10px 10px 80px;
    background-color: #fff;
    box-shadow: 2px 0px 1px 0px #ddd;
}
.contacts-right p.contact-desc{
    font-size: 18px;
    color: #475569;
    text-align: justify;
}
.contacts-right ul.contact-item{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
ul.contact-item li.item-list{
    display: flex;
    align-items: center;
    gap: 10px;
}
.contact-icon {
    color: #475569;
}
ul.contact-item li.item-list a{
    font-size: 18px;
    color: #00007F;
    text-decoration: none;
}
ul.contact-item li.item-list a:hover {
    text-decoration: underline;
}

/*===========================================
small device (Responsive Fixes)
=============================================*/
@media (max-width:700px) {
    .hero-container{
        flex-direction: column;
        align-items: flex-start;
    }
    .hero-right{
        gap: 20px;
        padding: 24px 0 0;
        height: auto;
    }
    .hero-des h1{
        font-size: 40px;
    }

    .about-container, .projects-container, .skills-container, .resume-container, .contacts-container {
        flex-direction: column;
    }
    
    .about-left, .projects-left, .skills-left, .resume-left, .contacts-left {
        padding: 0px 0px 16px;
    }

    .about-right, .projects-right, .skills-right, .resume-right, .contacts-right {
        padding: 0px 10px 10px 0px;
    }
    
    .skill-category ul.skill-item{
        gap: 15px;
    }
    .skill-category li.item-list{
        font-size: 17px;
    }
}